.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;

  &__inner {
    position: relative;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    width: 700px;
    height: 800px;

    background-color: #152136;
    border: 5px solid #fff;
    border-radius: 5px;
  }
}